@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* より小さい余白 */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px; /* より小さいカラム間隔 */
  background-clip: padding-box;
}

.my-masonry-grid_column>div {
  margin-bottom: 16px; /* より小さい画像間隔 */
}

/* 画像を包む div のスタイル */
.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
}

/* 画像自体のスタイル */
.image-item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}
